* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	width: 800px;
	height: 520px;
	display: flex;
	border-radius: 25px;
	box-shadow: 10px 10px 20px hsl(221, 100%, 96%);
}
.summary-box {
	padding: 30px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.your-result-box {
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	width: 50%;
	padding: 20px;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 2rem;
}
.short-descryption {
	width: 80%;
	font-size: 18px;
}
.ball {
	background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	border-radius: 50%;
	height: 200px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.this-center-lol {
	text-align: center;
}
.this-center-lol p {
	transform: translateY(-30px);
}
h1 {
	font-size: 5rem;
}
.lavender-color {
	color: hsl(241, 100%, 89%);
}
.your-result-box * {
	color: white;
	margin-top: 25px;
}
.stats-box {
	height: 300px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.Reaction {
	background-color: hsl(0, 100%, 67%, 0.1);
	color: hsl(0, 100%, 67%);
	border-radius: 15px;
	display: flex;
	height: 60px;
	font-weight: 700;
	align-items: center;
	padding: 10px;
	gap: 50%;
	width: 100%;
}
.Memory {
	background-color: hsl(39, 100%, 56%, 0.1);
	color: hsl(39, 100%, 56%);
	border-radius: 15px;
	display: flex;
	height: 60px;
	font-weight: 700;
	align-items: center;
	padding: 10px;
	gap: 50%;
	width: 100%;
}
.reaction-text-icon {
	display: flex;
	gap: 10px;
}
.memory-text-icon {
	display: flex;
	gap: 10px;
}
.verbal-text-icon {
	display: flex;
	gap: 10px;
}
.visual-text-icon {
	display: flex;
	gap: 10px;
}
.Verbal {
	background-color: hsl(166, 100%, 37%, 0.1);
	color: hsl(166, 100%, 37%);
	border-radius: 15px;
	display: flex;
	height: 60px;
	font-weight: 700;
	align-items: center;
	padding: 10px;
	gap: 50%;
	width: 100%;
}
.Visual {
	background-color: hsl(234, 85%, 45%, 0.1);
	color: hsl(234, 85%, 45%);
	border-radius: 15px;
	display: flex;
	height: 60px;
	font-weight: 700;
	align-items: center;
	padding: 10px;
	gap: 50%;
	width: 100%;
}
.gray-font {
	color: hsl(0, 0%, 50%, 0.7);
}
.each-result {
	color: hsl(224, 30%, 27%);
	justify-self: flex-end;
}
.Continue-btn {
	color: white;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(224, 30%, 27%);
	height: 50px;
	width: 100%;
	border-radius: 25px;
}
.lavender-color {
	color: hsl(241, 100%, 89%);
}
